:root {
    --swiper-theme-color: #000;
    --bg: #eee;
    --shade: #eee;
    --highlight: #00f;
    --mouse-x: 0;
    --mouse-y: 0;
}

#follower{
    position: absolute;
    pointer-events: none;
    left: calc(var(--mouse-x) - 64px);
    top: calc(var(--mouse-y) - 64px);
    z-index: 9999999;
}

html,
body {
    font-family: "LaFawnduh", Hack, monospace;
    position: relative;
    height: 100vh;
    overflow: hidden;
    /* cursor: url("../assets/cursor/128/mouse-grab.png") 64 64, auto;  */
}

h1{
    font-size: 2vw;
}

h4{
    line-height: 0;
}

p{
    line-height: 1.5;
}

.title{
    align-self: center;
    justify-self: center;
    height: 90vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-container-vertical {
    background: var(--bg);
    width: 100vw;
    height: 100vh;
}

.swiper-container-vertical > .swiper-wrapper > .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100%;
    height: 100%;
}

.imagebox {
    display: flex;
    flex-direction: flex-start;
    width: 100vw;
    /* overflow: hidden; */
}
.imagebox .shadow{
    height: 100%;
}

/* 
.imagebox:before {
    box-shadow: -15px 0 15px -15px inset #f00;
    display: inline-block;
    content: " ";
    position: absolute;
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 15px;
  } */

.swiper-container-horizontal {
    height: 100%;
    width: 100%;
}

.swiper-container-horizontal > .swiper-wrapper > .swiper-slide {
    width: 50vw;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.column {
    flex-direction: column;
}
.inner-slide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.inner-slide-center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    position: absolute;
    padding: 3%;
    min-width: 400px;
    max-width: 400px;
    /* z-index: 99999; */
    transition: all 300ms linear;
}
.description:hover{
    z-index: 9;
    background: var(--shade);
    box-shadow: 0 0 3vw 3vw var(--shade);
}

.shadow {
    box-shadow: 0 0 3vw 3vw var(--shade);
    transition: all 500ms linear;
    z-index: 9;
}
.shadow:hover{
    cursor: pointer;
    box-shadow: 0 0 3vw 3vw var(--highlight);
}

.swiper-img {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
}
.swiper-pagination{
    margin-left: 2px;
}
.swiper-pagination-progressbar {
    background-color: transparent;
}
.swiper-scrollbar{
    border-radius: 0;
    background: transparent;
    height: 10px;
    /* z-index: 20; */
}
.swiper-scrollbar-drag{
    background: #000;
    border-radius: 0;
}

@media (max-width: 1024px) {
    .inner-slide {
        flex-direction: column;
    }
    h1{
        font-size: 2vh;
    }
    .description {
        position: relative;
        min-width: 200px;
        max-width: 100%;
        min-height: 30vh;
        max-height: 40vh;
        overflow-y: auto;
    }
    .imagebox{
        padding-top: 20px;
        max-height: 50vh;
        max-width: 100vw;
    }
    .swiper-img{
        width: 90%;
        height: 50vh;
    }
    .swiper-container-horizontal{
        /* margin-top: 50px; */
    }
    .shadow{
        box-shadow: 0 0 2vh 2vh var(--shade);
    }
}
